.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

button {
  margin: 60px;
  padding: 15px 50px;
  font-size: 1.8rem;
  border-radius: 10px;
  border: none;
  background-color: #F1EFEF;
  color: darkorange;
  cursor: pointer;
  font-family: "Lobster", cursive;
  transition: all 0.5s ease;
  box-shadow: rgba(151, 151, 151, 0.25)-5px -5px 10px 1px, rgba(151, 151, 151, 0.25) 5px 5px 10px 1px;
}

button:hover{
  background-color: darkorange;
  font-weight: 500;
  color: #F1EFEF;
}
